# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data (mos ngarko dataset e mëdha në git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / editor
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
